.set-zero-style {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.set-normal-style {
    height: 100%;
    width: 100%;
    font-size: 14px;
    color: white;
    overflow: hidden;
}

.app {
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: min-content 1fr min-content;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #202020;
    grid-area: 1/2/2/3;
    z-index: 1;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.header__navigation {
    display: flex;  
    width: 40%;
}

.header__user-button {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
    margin: 15px 16px 10px 0px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-family: inherit;
    font-weight:700;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header__user-button:hover {
    background-color:#ecefdf;
}

.header__user-button__image {
    padding-top: 5px;
    margin-right: 4px;
    background-color:#b3b3b3;
    border-radius: 25px;
}

.header__button {
    height: 29px;
    width: 29px;
    border-radius:9px;
    cursor: pointer;
}

.header__button:hover {
    fill: currentcolor;
    color:rgb(255, 255, 255);
}

.back,.forward {
    fill: currentcolor;
    color:#b3b3b3;
    background-color: rgb(0, 0, 0);
    padding-top: 2px;
    margin-top: 18px;
}

.back {
    margin-left: 36px;
    padding-left: 2px;
}

.forward {
    margin-left: 25px;
    margin-right: 20px;
    padding-right: 2px;
}

.search-box {
    display: flex;
    width: 60%;
    height: 40px;
    margin: 10px 0px;
}

.search-box__txt {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 0px 38px 0px 20px;
    outline: none;
    border: 2px solid #9b9898;
}

.search-box__txt:focus {
    border-color: #0d00ff;
}

.search-box__image {
    padding-top: 7px;
    margin-left:-35px;
}

.content {
    background-color: #202020;
    grid-area: 2/2/3/3;
    z-index: 0;
    overflow-y: auto;
    padding: 30px 0px 20px 38px;
}

.content__section-name {
    margin-left: 9px ;
}

.content__genres {
    display: flex;
    flex-wrap: wrap;
}

.content__text {
    margin: 0px 2px;
}

.content__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 185px;
    width: 185px;
    margin: 10px 10px;
    border-radius: 15px;
    font-size:larger;
    font-weight: bold;
    color: white;
}

.content::-webkit-scrollbar {
    width:14px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #555;
}

.content::-webkit-scrollbar-track {
    background-color: #202020;
}

.aside {
    display: flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0);
    grid-area: 1/1/3/2;
    color:#b3b3b3;
    overflow: hidden;
}

.footer { 
    display: flex;
    justify-content: space-between;
    background-color:#202020;
    border-top: 0.0001cm solid rgb(58, 58, 58);
    height: 90px;
    grid-area: 3/1/4/3;
    padding: 10px;
}

.song-navigation {
    display: flex;
    align-items: center;
}

.song-navigation__names {
    display: flex; 
    flex-direction: column;
    margin-left: 10px;
}

.song-navigation__text {
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
}

.song-navigation__link {
    width: max-content;
    margin-bottom: 2px;
}

.song-navigation__like-buttom {
    background-color: #202020;
    padding-left:25px;
}

.song-navigation__like-img {
    fill: currentColor;
    color: #04fd63;
}

.song-navigation__button-song-img {
    background-color: #202020;
    padding-left:15px;
}

.song-navigation__song-img {
    fill: currentColor;
    color: #b9b9b9;
}

.song-navigation__song-img:hover {
    color: #fff;
}

.song-navigation__link:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.player {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}

.player__top-player-part {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.player__bottom-player-part {
    display: flex;
    justify-content: space-between;
}

.player__shuffle-img:hover {
    color: white;
}

.player__button-shuffle-img {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
    margin-right: 20px;
}

.player__button-repeat-img {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
    margin-left: 20px;
}

.player__repeat-img:hover {
    color: white;
}

.player__button-back {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
}

.player__back-img:hover {
    color: white;
}

.player__button-play-img {
    border-radius: 20px;
    margin: 0px 20px;
}

.player__button-play-img:hover {
    background-color: #cdcdcd;
}

.player__play-img {
    padding-left: 7px;
    padding-top: 8px;
}

.player__button-forward-img {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
}

.player__forward-img:hover {
    color: white;
}

.player__track {
    background-color: #878787;
    height: 4px;
    width: 90%;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.player__bottom-player-part__time {
    color:#b3b3b3;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.options {
    display: flex;
}

.options__button-lyrics {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
    margin-right: 15px;
}

.options__lyrics-img:hover {
    color: white;
}

.options__button-queue {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
    margin-right: 15px;
}

.options__queue-img:hover {
    color:white;
}

.options__button-connect-device {
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
    margin-right: 15px;
}

.options__connect-device-img:hover {
    color: white;
}

.options__volume-bar {
    display: flex;
    margin: 24px 5px;
}

.options__volume-bar__volume {
    display: flex;
    background-color: #202020;
    fill: currentColor;
    color: #b9b9b9;
}

.options__volume-track {
    background-color: #878787;
    height: 4px;
    width: 80px;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.options__volume-bar__volume-img:hover {
    color:white;
}

.settings-button {
    padding: 15px 10px;
    background: black;
    border: 1px solid white;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.2s;
    letter-spacing: 1.2px;
  }

.settings-button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #fff;
  }

.aside__logo {
    display: flex;
    align-items: center;
    width: 200px;
    padding: 18px 0px 0px 18px;
}

.music-menu__horizontal-line {
    height: 1px;
    min-height:1px;
    background-color: #282828;
    width: 85%;
    margin: 0 7.5% 0 7.5%;
}

.aside__title {
    color:white;
}

.aside__logo-image {
    background-color: white;
}

.link {
    text-decoration: none;
}

.menu {
    margin: 20px 26px;
}

.menu__link {
    display: flex;
    margin: 10px 0px;
}

.menu__text:hover {
    color: #fff;
}

.menu__text {
    color: #b3b3b3;
    white-space: pre-line;
    margin-left: 16px;
    margin-top: 4px;
    font-size: inherit;
}

.menu__image {
    fill: currentcolor;
    color: #b3b3b3;
}

.music-menu__text {
    color: #b3b3b3;
    white-space: pre-line;
    margin-top: 4px;
    margin-left: 16px;
    margin-bottom: 12px;
}

.music-menu__link {
    display: flex;
    margin: 0px 0px 5px 26px;
}

.music-menu__text:hover {
    color:white;
}

.music-menu__image {
    color: #b3b3b3;
}

.like {
    fill: currentcolor;
    color:rgb(252, 53, 53);
}

.plus {
    fill: currentcolor;
    color:rgb(252, 255, 80);
}

.playlists {
    margin-top: 3px;
    margin-bottom: 3px;
    overflow-y:auto;
}

.playlists::-webkit-scrollbar {
    width:14px;
}

.playlists::-webkit-scrollbar-thumb {
    background-color: #555;
}

.playlists::-webkit-scrollbar-track {
    background-color: black;

}


